@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mirza:wght@400;700&display=swap');

:root {
    --gray: hsla(0, 0%, 96%, 1);
    --purple: #8754ed;
    --light_purple: #edebff;
    --green: #56c5c2;
    --light_green: #c7ebed;
}

body {
    padding: 0;
    margin: 0;
}

html {

    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
}


@media screen and (max-width: 768px) {
    .text-8xl {
        font-size: 4rem;
        margin: auto;
        margin-top: 10%;
    }

}

@media (max-width: 917px) {

    .text-8xl {
        font-size: 3rem;

    }

    .main-text {
        font-size: 1.5rem;

    }

}


/* MAIN */

.main-text {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    margin-right: 10%;
}

.main-image {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
}

@media all and (max-width: 760px) {

    .main-text {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        margin: 2% 6%;
        padding-top: 6%;
    }

    .main-image {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

/* MODAL */

body.active-modal {
    overflow-y: hidden;
}

.modal,
.overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    background: rgba(49, 49, 49, 0.8);
}

.modal-content {
    position: absolute;
    height: fit-content;
    left: 50%;
    line-height: 1.4;
    background: rgb(255, 255, 255);
    padding: 1.5rem 1.5rem;
    border-radius: 25px;
    max-width: 600px;
    min-width: 300px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
}

.close-modal {
    padding: 5px 7px;
    background-color: var(--light_purple);
    color: var(--purple);
    cursor: pointer;
    border: none;
    outline: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: box-shadow ease-in-out 200ms;
    -webkit-transition: box-shadow ease-in-out 200ms;
    -moz-transition: box-shadow ease-in-out 200ms;
    -ms-transition: box-shadow ease-in-out 200ms;
    -o-transition: box-shadow ease-in-out 200ms;
}

.close-modal:hover,
.close-modal:focus {
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}


/* DELETE LECTURE FORM */

.delete-lecture>button {
    transition: transform ease-in-out 250ms;
    -webkit-transition: transform ease-in-out 250ms;
    -moz-transition: transform ease-in-out 250ms;
    -ms-transition: transform ease-in-out 250ms;
    -o-transition: transform ease-in-out 250ms;
}

.delete-lecture>button:hover {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}


/* ADD LECTURE FORM */

.form-time-input::-webkit-calendar-picker-indicator {
    /* by using filter generator sinice color property doesn't work on it */
    filter: invert(39%) sepia(31%) saturate(7243%) hue-rotate(243deg) brightness(97%) contrast(92%);
}

.form-button {
    font-size: 1rem;
    background-color: var(--light_purple);
    color: var(--purple);
    cursor: pointer;
    transition: transform ease-in-out 200ms, box-shadow ease-in-out 200ms;
    -webkit-transition: transform ease-in-out 200ms, box-shadow ease-in-out 200ms;
    -moz-transition: transform ease-in-out 200ms, box-shadow ease-in-out 200ms;
    -ms-transition: transform ease-in-out 200ms, box-shadow ease-in-out 200ms;
    -o-transition: transform ease-in-out 200ms, box-shadow ease-in-out 200ms;
}

.form-button:hover,
.form-button:focus {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 760px) {

    .btn-modal {
        font-size: 1.5rem;
    }

}


/* BEAT ANIMATION */

.beat {
    animation: beat 2s ease infinite;
}

@keyframes beat {
    0% {
        transform: scale(.75)
    }

    20% {
        transform: scale(1)
    }

    40% {
        transform: scale(.75)
    }

    60% {
        transform: scale(1)
    }

    80% {
        transform: scale(.75)
    }

    to {
        transform: scale(.75)
    }
}